/* Pour la police Space Mono */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400; /* Normal */
    src: url('../fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype'); /* Format TTF */
  }
  
  @font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700; /* Gras */
    src: url('../fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype'); /* Format TTF */
  }
  
  @font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 400; /* Normal */
    src: url('../fonts/Space_Mono/SpaceMono-Italic.ttf') format('truetype'); /* Format TTF */
  }
  
  @font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 700; /* Gras */
    src: url('../fonts/Space_Mono/SpaceMono-Italic.ttf') format('truetype'); /* Format TTF */
  }
  /* Pour la police Poppins */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400; /* Normal */
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype'); /* Format TTF */
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700; /* Gras */
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype'); /* Format TTF */
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400; /* Normal */
    src: url('../fonts/Poppins/Poppins-Italic.ttf') format('truetype'); /* Format TTF */
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700; /* Gras */
    src: url('../fonts/Poppins/Poppins-Italic.ttf') format('truetype'); /* Format TTF */
  }

/*header*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 10%;
    box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
}

.main-navigation {
    display: flex;
    justify-content: flex-end;
}
#main-menu {
    display: flex;
    justify-content: flex-end;
}
#main-menu a {
    text-decoration: none;
    color: black;
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.7px;
    text-align: left;
}
#main-menu a:hover {
    font-weight: 700;
}
#main-menu li {
    padding: 10px 40px 0 10px;
    list-style: none;
}

#main-menu ul { 
    list-style: none;
    display: flex;
    justify-content: space-between;
}

 /*footer*/
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 7px 0;
  border-top: 1px solid black;
  z-index: 0;
}
.footer_nav {
  justify-content: center;
}
.footer_nav li:nth-child(2) {
  margin-left: 86px;
}
.footer_nav li {
  min-width: 196px;
}
nav {
    display: flex;
    font-family: "Space Mono", monospace;
    line-height: 64px;
    text-transform: uppercase;
}

/*** hero ***/

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
   
.hero h1 {
    align-self: center;
    position: absolute;
    font-family: "Space Mono", monospace;
    font-style: italic;
    font-size: 6.3vw;
    text-transform: uppercase;
    text-shadow: 3px 0 #fff, -3px 0 #fff, 0 3px #fff, 0 -3px #fff, 3px 3px #fff, -3px -3px #fff, 3px -3px #fff, -3px 3px #fff;
    mix-blend-mode: lighten;
}
   
   .hero_image {
    height: 100%;
    width: 80%;
    object-fit: cover;
}

/*** filtres ***/
   .filtres {
    font-family: "Space Mono", monospace;
    font-size: 14px;
    margin-bottom: 50px;
}
.filtres .filtre {
    display: flex;
    flex-direction: column;
}
.filtres select {
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    font-family: "Space Mono", monospace;
    font-size: 14px;
    padding-left: 24px;
    margin-bottom: 10px;
}
.section_filtres {
    padding-top: 32px !important;
    width: 80%;
    padding: 0 10%;
}
.organisation {
    display: flex;
    justify-content: space-between;
}
.half {
    width: 49.2%;
}
#format {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*** Mettre le texte des taxonomies en majuscule ***/
#all-categorie {
    text-transform: uppercase;
}
#all-format {
    text-transform: uppercase;
}
#select-ordre #ordre {
    text-transform: uppercase;
}